{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container mx-auto mt-10">
  <div class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-2xl font-bold mb-4 text-center">Change Password</h2>
    <form method="post" action="{% url 'account_change_password' %}" class="space-y-4">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Change Password</button>
    </form>
  </div>
</div>
{% endblock content %}