{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Set Password{% endblock title %}

{% block content %}
<div class="container mx-auto mt-10">
  <div class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-md">
    <form method="POST" action="" class="space-y-4">
      {% csrf_token %}
      {{ form | crispy }}
      <div class="text-center">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit" name="action" value="Set Password">Change
          Password</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}